a {
  color: #333645;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: auto;
  width: fit-content;
  line-height: 35px;
  border-radius: 3px;
  padding: 5px 15px;
  color: white;
}

.support {
  background-color: #4183d7;
}

.contact {
  background-color: #999aa2;
}

.bs {
  background-color: #67809f;
}

.is {
  background-color: #4183d7;
}

.dm {
  background-color: #2ecc71;
}

.ts {
  background-color: #d64541;
}

.wd {
  background-color: #926fb1;
}

.cs {
  background-color: #f62459;
}

.dt {
  background-color: #ce4125;
}

.welcome-read {
  background-color: #272936;
}

.google-btn {
  background-color: #4387f6;
}

.trustpilot-btn {
  background-color: #00b67b;
}

.newsletter {
  background-color: #333645;
}

.fa-arrow-right {
  margin-left: 5px;
}

.bs-icon {
  filter: invert(51%) sepia(12%) saturate(946%) hue-rotate(173deg) brightness(94%) contrast(91%);
}

.is-icon {
  color: #4183d7;
}

.dm-icon {
  color: #2ecc71;
}

.ts-icon {
  color: #d64541;
}

.wd-icon {
  color: #926fb1;
}

.cs-icon {
  color: #f62459;
}

.dc-icon {
  color: #ce4125;
}

.bs-icon {
  font-size: 0.5rem;
  height: 47px;
  width: 47px;
  margin-top: 8.4px;
  filter: invert(100%);
}

#nav-wrapper {
  width: 100%;
  min-height: 100px;
  background-color: #333645;
}
#nav-wrapper nav {
  max-width: 1200px;
  margin: 20px auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}
#nav-wrapper nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-wrapper nav ul li {
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
#nav-wrapper nav ul li a {
  color: white;
  text-decoration: none;
}
#nav-wrapper nav ul li a .bs-icon {
  filter: invert(51%) sepia(12%) saturate(946%) hue-rotate(173deg) brightness(94%) contrast(91%);
  height: 23.5px;
  width: 23.5px;
  margin-top: 17px;
  margin-bottom: 5px;
}
#nav-wrapper nav ul li a i {
  margin-top: 21px;
  margin-bottom: 8px;
}
#nav-wrapper nav ul li a small {
  display: block;
  color: white;
  font-size: xx-small;
}
@media (max-width: 992px) {
  #nav-wrapper {
    display: none;
  }
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-right: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the left when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.red-card {
  background-color: #d64541;
}

.purple-card {
  background-color: #926fb1;
}

.grey-card {
  background-color: #67809f;
}

.green-card {
  background-color: #2ecc71;
}

.blue-card {
  background-color: #4183d7;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: Poppins, sans-serif;
  color: #333645;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

img {
  vertical-align: middle;
}

h2 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 25px;
}

#banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 550px;
  padding: 20px 15%;
  padding-top: 80px;
  margin-bottom: 20px;
  text-align: left;
  line-height: normal;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url(../img/home-oaVs.jpg) center/cover no-repeat;
}
#banner h1, #banner p {
  color: white;
}
#banner h1 {
  font-size: 4rem;
  line-height: 5rem;
}
#banner p {
  font-size: 1.65rem;
  line-height: 2.5rem;
}

header .inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 10px 0;
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}
header .inner .logo {
  padding: 10px;
  padding-right: 50px;
  margin-right: 40px;
}
@media (max-width: 1260px) {
  header .inner .logo {
    width: 33%;
    margin-right: 60px;
  }
}
@media (max-width: 992px) {
  header .inner .logo {
    margin-right: 150px;
  }
}
header .inner .logo img {
  max-width: 370px;
}
header .inner .btn {
  line-height: 47px;
  font-size: 1.1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
@media (max-width: 992px) {
  header .inner .contact, header .inner .support {
    display: none;
  }
}
header .inner .search-form-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
header .inner .search-form-container .searchbar {
  padding: 22px 15px 15px 15px;
  margin-top: 1.4px;
}
@media (max-width: 1260px) {
  header .inner .search-form-container .searchbar {
    display: none;
  }
}
@media (max-width: 992px) {
  header .inner .search-form-container .searchbar {
    display: inline;
  }
}
@media (max-width: 768px) {
  header .inner .search-form-container .searchbar {
    padding-right: auto;
  }
}
header .inner .search-form-container #search-submit {
  background-color: #999aa2;
  margin-left: -6px;
  padding: 15px 19.5px 17px 19.5px;
  border: none;
  border-radius: 0 3px 3px 0;
}
header .inner .search-form-container #search-submit i {
  font-size: 1.5rem;
  color: white;
  padding-top: 2px;
}
header .inner .burger-menu {
  background-color: #333645;
  border: none;
  border-radius: 3px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  padding-bottom: 0px;
}
header .inner .burger-menu i {
  color: white;
  font-size: 2rem;
  padding-top: 3px;
}

#services {
  max-width: 1200px;
  margin: 20px auto;
  font-weight: 900;
  font-size: 1.4rem;
  padding-top: 20px;
  padding-bottom: 40px;
}
#services #service-heading {
  display: flex;
  justify-content: space-between;
  padding-left: 47px;
  padding-right: 47px;
}
#services #service-heading .view-all {
  line-height: 130px;
}
#services .container .row .col-md-4 .card-link, #services .container .row .col-lg-3 .card-link, #services .container .row .col-md-6 .card-link, #services .container .row .col-sm-6 .card-link {
  display: block;
  padding: 30px;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  font-weight: 400;
}
#services .container .row .col-md-4 .card-link .icon-circle, #services .container .row .col-lg-3 .card-link .icon-circle, #services .container .row .col-md-6 .card-link .icon-circle, #services .container .row .col-sm-6 .card-link .icon-circle {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#services .container .row .col-md-4 .card-link .icon-circle i, #services .container .row .col-lg-3 .card-link .icon-circle i, #services .container .row .col-md-6 .card-link .icon-circle i, #services .container .row .col-sm-6 .card-link .icon-circle i {
  color: white;
  padding-left: 1px;
  padding-top: 19px;
  font-size: 1.7rem;
}
#services .container .row .col-md-4 .card-link h2, #services .container .row .col-lg-3 .card-link h2, #services .container .row .col-md-6 .card-link h2, #services .container .row .col-sm-6 .card-link h2 {
  font-size: 1.4rem;
}
#services .container .row .col-md-4 .card-link p, #services .container .row .col-lg-3 .card-link p, #services .container .row .col-md-6 .card-link p, #services .container .row .col-sm-6 .card-link p {
  font-size: 0.85rem;
}
#services .container .row .col-md-4 .card-link .btn, #services .container .row .col-lg-3 .card-link .btn, #services .container .row .col-md-6 .card-link .btn, #services .container .row .col-sm-6 .card-link .btn {
  margin-top: auto;
  margin-bottom: 5px;
}
#services .container .row .col-md-4 .card-link:hover, #services .container .row .col-lg-3 .card-link:hover, #services .container .row .col-md-6 .card-link:hover, #services .container .row .col-sm-6 .card-link:hover {
  color: white;
}
#services .container .row .col-md-4 .bs-hover:hover, #services .container .row .col-lg-3 .bs-hover:hover, #services .container .row .col-md-6 .bs-hover:hover, #services .container .row .col-sm-6 .bs-hover:hover {
  background-color: #67809f;
}
#services .container .row .col-md-4 .bs-hover:hover .bs, #services .container .row .col-lg-3 .bs-hover:hover .bs, #services .container .row .col-md-6 .bs-hover:hover .bs, #services .container .row .col-sm-6 .bs-hover:hover .bs {
  background-color: white;
  color: #67809f;
}
#services .container .row .col-md-4 .bs-hover:hover .bs .bs-icon, #services .container .row .col-lg-3 .bs-hover:hover .bs .bs-icon, #services .container .row .col-md-6 .bs-hover:hover .bs .bs-icon, #services .container .row .col-sm-6 .bs-hover:hover .bs .bs-icon {
  filter: invert(51%) sepia(12%) saturate(946%) hue-rotate(173deg) brightness(94%) contrast(91%);
}
#services .container .row .col-md-4 .is-hover:hover, #services .container .row .col-lg-3 .is-hover:hover, #services .container .row .col-md-6 .is-hover:hover, #services .container .row .col-sm-6 .is-hover:hover {
  background-color: #4183d7;
}
#services .container .row .col-md-4 .is-hover:hover .is, #services .container .row .col-lg-3 .is-hover:hover .is, #services .container .row .col-md-6 .is-hover:hover .is, #services .container .row .col-sm-6 .is-hover:hover .is {
  background-color: white;
  color: #4183d7;
}
#services .container .row .col-md-4 .is-hover:hover .is i, #services .container .row .col-lg-3 .is-hover:hover .is i, #services .container .row .col-md-6 .is-hover:hover .is i, #services .container .row .col-sm-6 .is-hover:hover .is i {
  color: #4183d7;
}
#services .container .row .col-md-4 .dm-hover:hover, #services .container .row .col-lg-3 .dm-hover:hover, #services .container .row .col-md-6 .dm-hover:hover, #services .container .row .col-sm-6 .dm-hover:hover {
  background-color: #2ecc71;
}
#services .container .row .col-md-4 .dm-hover:hover .dm, #services .container .row .col-lg-3 .dm-hover:hover .dm, #services .container .row .col-md-6 .dm-hover:hover .dm, #services .container .row .col-sm-6 .dm-hover:hover .dm {
  background-color: white;
  color: #2ecc71;
}
#services .container .row .col-md-4 .dm-hover:hover .dm i, #services .container .row .col-lg-3 .dm-hover:hover .dm i, #services .container .row .col-md-6 .dm-hover:hover .dm i, #services .container .row .col-sm-6 .dm-hover:hover .dm i {
  color: #2ecc71;
}
#services .container .row .col-md-4 .ts-hover:hover, #services .container .row .col-lg-3 .ts-hover:hover, #services .container .row .col-md-6 .ts-hover:hover, #services .container .row .col-sm-6 .ts-hover:hover {
  background-color: #d64541;
}
#services .container .row .col-md-4 .ts-hover:hover .ts, #services .container .row .col-lg-3 .ts-hover:hover .ts, #services .container .row .col-md-6 .ts-hover:hover .ts, #services .container .row .col-sm-6 .ts-hover:hover .ts {
  background-color: white;
  color: #d64541;
}
#services .container .row .col-md-4 .ts-hover:hover .ts i, #services .container .row .col-lg-3 .ts-hover:hover .ts i, #services .container .row .col-md-6 .ts-hover:hover .ts i, #services .container .row .col-sm-6 .ts-hover:hover .ts i {
  color: #d64541;
}
#services .container .row .col-md-4 .wd-hover:hover, #services .container .row .col-lg-3 .wd-hover:hover, #services .container .row .col-md-6 .wd-hover:hover, #services .container .row .col-sm-6 .wd-hover:hover {
  background-color: #926fb1;
}
#services .container .row .col-md-4 .wd-hover:hover .wd, #services .container .row .col-lg-3 .wd-hover:hover .wd, #services .container .row .col-md-6 .wd-hover:hover .wd, #services .container .row .col-sm-6 .wd-hover:hover .wd {
  background-color: white;
  color: #926fb1;
}
#services .container .row .col-md-4 .wd-hover:hover .wd i, #services .container .row .col-lg-3 .wd-hover:hover .wd i, #services .container .row .col-md-6 .wd-hover:hover .wd i, #services .container .row .col-sm-6 .wd-hover:hover .wd i {
  color: #926fb1;
}
#services .container .row .col-md-4 .cs-hover:hover, #services .container .row .col-lg-3 .cs-hover:hover, #services .container .row .col-md-6 .cs-hover:hover, #services .container .row .col-sm-6 .cs-hover:hover {
  background-color: #f62459;
}
#services .container .row .col-md-4 .cs-hover:hover .cs, #services .container .row .col-lg-3 .cs-hover:hover .cs, #services .container .row .col-md-6 .cs-hover:hover .cs, #services .container .row .col-sm-6 .cs-hover:hover .cs {
  background-color: white;
  color: #f62459;
}
#services .container .row .col-md-4 .cs-hover:hover .cs i, #services .container .row .col-lg-3 .cs-hover:hover .cs i, #services .container .row .col-md-6 .cs-hover:hover .cs i, #services .container .row .col-sm-6 .cs-hover:hover .cs i {
  color: #f62459;
}
#services .container .row .col-md-4 .dt-hover:hover, #services .container .row .col-lg-3 .dt-hover:hover, #services .container .row .col-md-6 .dt-hover:hover, #services .container .row .col-sm-6 .dt-hover:hover {
  background-color: #ce4125;
}
#services .container .row .col-md-4 .dt-hover:hover .dt, #services .container .row .col-lg-3 .dt-hover:hover .dt, #services .container .row .col-md-6 .dt-hover:hover .dt, #services .container .row .col-sm-6 .dt-hover:hover .dt {
  background-color: white;
  color: #ce4125;
}
#services .container .row .col-md-4 .dt-hover:hover .dt i, #services .container .row .col-lg-3 .dt-hover:hover .dt i, #services .container .row .col-md-6 .dt-hover:hover .dt i, #services .container .row .col-sm-6 .dt-hover:hover .dt i {
  color: #ce4125;
}
@media (min-width: 992px) {
  #services .container .row .col-md-4 {
    width: 33.3%;
  }
}

#welcome {
  background-color: #333645;
}
#welcome .grid {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 50px 40px 50px 40px;
  color: white;
}
#welcome .grid .column {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
#welcome .grid .column h2 {
  font-size: 2.25rem;
  font-weight: 400;
}
#welcome .grid .column p {
  margin-bottom: 25px;
  line-height: 2rem;
}
#welcome .grid .column a {
  text-decoration: none;
  color: white;
}
#welcome .grid .column div {
  margin-top: auto;
}
#welcome .grid .column div .btn {
  margin-right: 10px;
  border-radius: 6px;
  font-size: 20px;
  padding: 15px 30px;
}
#welcome .grid .column .buttons-wrapper {
  width: 150%;
  margin-bottom: 30px;
}
#welcome .grid .column .icons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
}
#welcome .grid .column .icons .fa-star {
  color: orange;
  font-size: 50px;
}
#welcome .grid .column .quote {
  font-size: 1.3rem;
  font-weight: 600;
}
#welcome .grid .column .quote-author {
  color: #a3a8ac;
  font-weight: 600;
  font-size: 1.1rem;
}
@media (max-width: 992px) {
  #welcome .grid .column {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  #welcome .grid {
    flex-direction: column;
  }
}

footer {
  background-color: #333645;
  color: white;
  padding-top: 10px;
  padding-bottom: 45px;
}
footer .footer-container {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 47px;
  padding-right: 47px;
}
footer .footer-container .footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-container .footer-row .column {
  padding-top: 20px;
}
footer .footer-container .footer-row .column h4 {
  font-size: 1rem;
  font-weight: 200;
}
footer .footer-container .footer-row .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-container .footer-row .column ul li {
  line-height: 1.4rem;
  font-size: 0.8rem;
}
footer .footer-container .footer-row .column ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-container .bottom {
  margin-top: 30px;
  border-top: 1px solid #888;
}
footer .footer-container .bottom .copyright {
  font-weight: 200;
  font-size: 0.8rem;
}
footer .footer-container .bottom .copyright a {
  color: white;
  text-decoration: none;
}

#associates {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  filter: grayscale(100%);
}
@media (max-width: 992px) {
  #associates {
    display: none;
  }
}

#newsletter {
  background-color: #ddd;
}
#newsletter #signup {
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px 47px 50px 47px;
  margin-bottom: 0px;
  display: block;
}
#newsletter #signup h2 {
  font-size: 2rem;
  font-weight: 400;
}
#newsletter #signup input, #newsletter #signup label {
  font-weight: 600;
}
#newsletter #signup .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#newsletter #signup .input-wrapper .input-item {
  float: left;
  padding-top: 10px;
}
#newsletter #signup .input-wrapper .input-item input, #newsletter #signup .input-wrapper .input-item label {
  display: block;
}
#newsletter #signup .input-wrapper .input-item input {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 50px;
  width: 580px;
}
#newsletter #signup .check-wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
}
#newsletter #signup .btn {
  height: 45px;
  box-shadow: none;
  border: 0;
}

.check-wrapper {
  display: flex;
}
.check-wrapper #marketing-info {
  margin-right: 20px;
  border-radius: 3px;
  border-width: 10px;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.check-wrapper #marketing-info:checked {
  background-color: #333645;
}

#news {
  padding: 30px 32px;
  max-width: 1200px;
  margin: 20px auto;
}
#news .news-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
#news .news-header h2, #news .news-header h3 {
  font-weight: 600;
}
#news .news-header h2 {
  font-size: 2.25rem;
}
#news .news-header h3 a {
  text-decoration: none;
  font-size: 2rem;
}
#news .container .row .card-news {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  transition: 0.5s ease;
}
#news .container .row .card-news .news-link {
  position: absolute;
  top: 40px;
  right: 15px;
  color: white;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
}
#news .container .row .card-news .card-img {
  width: 100%;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}
#news .container .row .card-news .card-body {
  display: block;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 3px;
  padding: 30px;
  text-decoration: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
#news .container .row .card-news .card-body h3 {
  color: #926fb1;
  padding-top: -20px;
  font-size: 1.4rem;
}
#news .container .row .card-news .card-body p {
  font-size: 0.85rem;
}
#news .container .row .card-news .card-body .btn {
  padding: 7px 15px;
  margin-bottom: 20px;
}
#news .container .row .card-news .card-body .newscard-footer {
  padding-top: 20px;
  margin-top: 25px;
  line-height: 2rem;
  border-top: 1px solid #ccc;
}
#news .container .row .card-news .card-body .newscard-footer #netm-icon {
  height: 47px;
  width: 47px;
}
#news .container .row .card-news .card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  #news .container .row .card-news {
    max-width: 100%;
  }
}
#news .container .row .card-news:hover {
  transform: translateY(-10px);
}
@media (max-width: 992px) {
  #news .container .row .card3 {
    display: none;
  }
}
@media (max-width: 992px) {
  #news .container .row {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  #news .container .row {
    display: block;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}
#offices {
  padding: 30px 32px;
  max-width: 1200px;
  margin: 20px auto;
}
#offices .offices-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
#offices .offices-header h2 {
  font-size: 2.25rem;
}
#offices .offices-header h3 a {
  text-decoration: none;
  font-size: 2rem;
}
#offices .container .row .office-card {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  transition: 0.5s ease;
}
#offices .container .row .office-card .card-img {
  width: 100%;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}
#offices .container .row .office-card .card-body {
  display: block;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 3px;
  padding: 30px;
  text-decoration: none;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
#offices .container .row .office-card .card-body h3 {
  color: #926fb1;
  padding-top: -20px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
#offices .container .row .office-card .card-body p {
  font-size: 0.85rem;
}
#offices .container .row .office-card .card-body .btn {
  padding: 7px 15px;
  margin-top: 20px;
}
#offices .container .row .office-card .card-body .office-number {
  font-size: 1.6rem;
  font-weight: 700;
  color: #926fb1;
}
#offices .container .row .office-card .card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  #offices .container .row .office-card {
    max-width: 100%;
  }
}
#offices .container .row .office-card:hover {
  transform: translateY(-10px);
}
@media (max-width: 992px) {
  #offices .container .row .card3 {
    display: none;
  }
}
@media (max-width: 992px) {
  #offices .container .row {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  #offices .container .row {
    display: block;
  }
}

.form-container {
  max-width: 1200px;
  margin: 20px auto;
  max-width: 770px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.form-container #contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ddd;
  border-radius: 10px;
  padding: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 0.95rem;
  min-height: 100px;
}
.form-container #contact-form textarea {
  min-height: 100px;
}
.form-container #contact-form .input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  gap: 15px;
}
.form-container #contact-form .input-group .label-input {
  width: 48%;
}
.form-container #contact-form .form-input {
  height: 47px;
  padding: 5px 15px;
  display: block;
  width: 100%;
}
.form-container #contact-form .btn {
  background-color: #926fb1;
}

.mandatory::after {
  color: rgb(202, 0, 0);
  content: " *";
}

/*# sourceMappingURL=style.css.map */
