
//Colours
$dark: #333645;
$purple: #926fb1;
$red: #d64541;
$blue: #4183d7;
$grey: #67809f;
$green: #2ecc71;
$bubblegum: #f62459;
$tomato: #ce4125;

//Layout
$gutter: 10px;
$max-width: 1200px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1260px;