#associates {
    @include centre;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    filter: grayscale(100%);

    @media (max-width: $md) {
        display: none;
    }
}