
//Banner
#banner {
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 550px;
    padding: 20px 15%;
    padding-top: 80px;
    margin-bottom: 20px;
    text-align: left;
    line-height: normal;
    background: linear-gradient(to right,  black, rgba(0, 0, 0, 0)),  url(../img/home-oaVs.jpg) center / cover no-repeat;

    h1, p {
        color: white; 
    }
    h1 {
        font-size: 4rem;
        line-height: 5rem;
    } 
    p {
        font-size: 1.65rem;
        line-height: 2.5rem;
    }
}


