
header {
    .inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        position: relative;
        @include centre;
        @media (max-width: $lg) {
            width: 1200px;
        }
        @media (max-width: $md) {
            width: 970px;
        }
        @media (max-width: $sm) {
            width: 750px;
        }
        .logo {
            padding: 10px;
            padding-right: 50px;
            

            @media (max-width: $lg) {
                width: 33%
            }

            img {
                max-width: 370px;

            }
        }
        .btn {
            height: 56px;
            line-height: 45px;
        }
        .search-form-container {
            
            .searchbar {
                height: 56px;
                padding: 5px 15px;
            }
            #search-submit {
                height: 56px;
            }
        }
    }
}

