
#news {
    padding: 30px 32px;
    @include centre;
    .news-header {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        h2, h3 {
            font-weight: 600;
        }
        h2 {
            font-size: 2.25rem;
        }
        h3 {
            a {
                text-decoration: none;
                font-size: 2rem;
            }
        }
    }
    .container {
        .row {
            .card-news {
                position: relative;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 30px;
                .news-link {
                    position: absolute;
                    top: 40px;
                    right: 15px;
                    color: white;
                    z-index: 2;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                // Card colours:
                .red-card {
                    background-color: $red;
                }
                .purple-card {
                    background-color: $purple;
                }
                .grey-card {
                    background-color: $grey;
                }
                .green-card {
                    background-color: $green;
                }
                .blue-card {
                    background-color: $blue;
                }

                .card-img {
                    width: 100%;
                    box-shadow: 0 3px 35px rgba(0,0,0,.1);
                }
                .card-body {
                    display: block;
                    border: 1px solid #ccc;
                    border-top: 0;
                    border-radius: 3px;
                    padding: 30px;
                    text-decoration: none;
                    box-shadow: 0 3px 35px rgba(0,0,0,.1);
                    h3 {
                        color: $purple;
                        padding-top: -20px;
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: .85rem;
                    }
                    .btn {
                        padding: 7px 15px;
                        margin-bottom: 20px;
                    }
                    .newscard-footer {
                        padding-top: 20px;
                        margin-top: 25px;
                        line-height: 2rem;
                        border-top: 1px solid #ccc;
                        #netm-icon {
                            height: 47px;
                            width: 47px;
                        }
                    }
                }
                .card-link {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
                @media (max-width: $sm) {
                    max-width: 100%;
                    
                }
            }

            .news3 {
                @media (max-width: $md) {
                    display: none;
                }
            }

            @media (max-width: $md) {
                justify-content: space-around;
            }

            @media (max-width: $sm) {
                display: block;
            }
            
        }
        
        
    }
}

@media (min-width: $sm) { 
    .col-sm-6 {
        width: 50%;
    }
    
}