
#newsletter {
    background-color: #ddd;
    
    #signup {
        @include centre;
        padding: 30px 47px 50px 47px;
        margin-bottom: 0px;
        display: block;

        h2 {
            font-size: 2rem;
            font-weight: 400;
        }

        input, label {
            font-weight: 600;
        }

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input-item {
                float: left;
                padding-top: 10px;
                input, label {
                    display: block;
                }
                input {
                    border: 1px solid #ccc;
                    border-radius: 2px;
                    height: 50px;
                    width: 580px;
                }
            } 
        }
        .check-wrapper {
            margin-top: 10px;
            margin-bottom: 30px;
        }
        
        .btn {
            height: 45px;
            box-shadow: none;
            border: 0;

        }
    }
}

.check-wrapper {
    display: flex;

    #marketing-info {
        margin-right: 20px;
        border-radius: 3px;
        border-width: 10px;
        cursor: pointer;
        height: 32px;
        width: 32px;
        


    }

    #marketing-info:checked {
        background-color: $dark;
    }
    
}