
#welcome {
    background-color: $dark;
    .grid {
        @include centre;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 50px;
        color: white;

        .column {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            h2 {
                font-size: 2.25rem;
                font-weight: 400;
            }
            p{
                margin-bottom: 25px;
                line-height: 2rem;
            }
            a {
                text-decoration: none;
                color: white;
            }
            div {
                margin-top: auto;
                .btn {
                    margin-right: 10px;
                    border-radius: 6px;
                    font-size: 20px;
                    padding: 15px 30px;
                }
            }
            .buttons-wrapper {
                width: 150%;
                margin-bottom: 30px;
            }

            .icons {
                display: flex;
                flex-direction: row;
                margin-top: 15px;
                margin-bottom: 5px;
                .fa-star {
                    color: orange;
                    font-size: 50px;   
                }
            }
            
            .quote {
                font-size: 1.3rem;
                font-weight: 600;
            }
            .quote-author {
                color: #a3a8ac;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }
}