
#welcome {
    background-color: $dark;
    .grid {
        @include centre;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 35px;
        padding-bottom: 50px;
        //padding: 35px 10px 50px 10px;
        color: white;

        .column {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            h2 {
                font-size: 2.25rem;
                font-weight: 400;
            }
            p{
                margin-bottom: 25px;
                line-height: 2rem;
            }
            a {
                text-decoration: none;
                color: white;
            }
            div {
                //height: 63px;
                margin-top: auto;
                .btn {
                    margin-right: 10px;
                    border-radius: 6px;
                    font-size: 20px;
                    padding: 10px 30px;
                    //float: inline-end;
                    //margin-bottom: 30px;
                }
            }
            .quote {
                font-size: 1.3rem;
                font-weight: 600;
            }
            .quote-author {
                color: #a3a8ac;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }
}