
a {
    color: $dark;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    width: fit-content;
    line-height: 35px;
    border-radius: 3px;
    padding: 5px 15px;
    color: white;
    
}

.support {
    background-color: $blue;
}

.contact {
    background-color: #999aa2;
}

.bs {
    background-color: $grey;
}

.is {
    background-color: $blue;
}

.dm {
    background-color: $green;
}

.ts {
    background-color: $red;
}

.wd {
    background-color: $purple;
}

.cs {
    background-color: $bubblegum;
}

.dt {
    background-color: $tomato;
}

.welcome-read {
    background-color: #272936;
}

.google-btn {
    background-color: #4387f6;
}

.trustpilot-btn {
    background-color: #00b67b;
}

.newsread1 {
    background-color: $red;
}

.newsread2, .newsread3 {
    background-color: $purple;
}

.newsletter {
    background-color: $dark;
}