
a {
    color: $dark;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    height: 56px;
    line-height: normal;
    border-radius: 3px;
    padding: 20px 15px;
    color: white;
    
}

.support {
    background-color: #4183d7;
}

.contact {
    background-color: #999aa2;
}

.bs {
    background-color: #67809f;
}

.is {
    background-color: #4183d7;
}

.dm {
    background-color: #2ecc71;
}

.ts {
    background-color: #d64541;
}

.wd {
    background-color: #926fb1;
}

.cs {
    background-color: #f62459;
}

.dt {
    background-color: #ce4125;
}