// Card colours:
.red-card {
    background-color: $red;
}
.purple-card {
    background-color: $purple;
}
.grey-card {
    background-color: $grey;
}
.green-card {
    background-color: $green;
}
.blue-card {
    background-color: $blue;
}