
#nav-wrapper {
    width: 100%;
    min-height: 100px;
    background-color: $dark;
    nav {
        @include centre;
        height: 100%;
        display: block;
        margin: 0 auto;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                justify-content: center;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                display: block;
                margin-top: auto;
                margin-bottom: auto;
                a {
                    //padding: 1rem 0;
                    
                    color: white;
                    text-decoration: none;
                    .bs-icon {
                        @include greyImg;
                        height: 23.5px;
                        width: 23.5px;
                        margin-top: 17px;
                        margin-bottom: 5px;
                    }
                    i {
                        margin-top: 21px;
                        margin-bottom: 8px;
                    }
                    small {
                        display: block;
                        color: white;
                        font-size: xx-small;
                        
                    }
                }
            }
        }
    }
    @media (max-width: $md) { 
        display: none;
    }
}

// .wrapper {
//     display: flex;
//     // may need to change this 
//     //flex-direction: column-reverse;
//     text-decoration: none;
//     transition: all 0.4s;
//   }
  
//   #sidebar {
//     min-width: 250px;
//     max-width: 250px;
//     background: #262933;
//     color: #fff;
//     transition: all 0.4s;
//     height: 100vh;
//   }
   
//   #sidebar.active {
//     margin-left: -250px;
//   }
  
//   #sidebar .sidebar-header {
//     padding: 20px;
//     background: #1b1d24;
//   }

//   #sidebar ul.components {
//     padding: 20px 0;
//     /* border-bottom: 1px solid #47748b; */
//   }
  
//   #sidebar ul p {
//     color: #fff;
//     padding: 10px;
//   }
  
//   #sidebar ul li a {
//     padding: 10px;
//     font-size: 1.1em;
//     display: block;
//   }
  
//   #sidebar ul li a:hover {
//     color: #262933;
//     background: #fff;
//   }
  
//   #sidebar ul li.active>a,
//   a[aria-expanded="true"] {
//     color: #fff;
//     background: #1b1d24;
//   }
  
//   a[data-toggle="collapse"] {
//     position: relative;
//   }
  
//   .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20%;
//     transform: translateY(-50%);
//   }
  
//   ul ul a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
//     background: #1b1d24;
//   }

  @media (max-width: 768px) {
    // #sidebar {
    //   margin-left: -250px;
    // }
  
    // #sidebar.active {
    //   margin-left: 0;
    // }
  
    // #sidebarCollapse span {
    //   display: none;
    // }
  }