/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    //padding-right: 16px;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    //padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

    color: #fff;
    font-size: .875rem;
    text-transform: uppercase;
    border-top: 1px solid rgba(0,0,0,.45);


    /* The sidebar links */
    a {
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        cursor: pointer;
        
    }

    /* When you mouse over the navigation links, change their color */
    a:hover {
        color: #f1f1f1;
    }

    li, a {
      border-top: 1px solid hsla(0,0%,100%,.05);
      //padding: 15px 20px;
    }
    /* Position and style the close button (top right corner) */

    .sidebar-heading {
      border-top: 1px solid hsla(0,0%,100%,.1);
      font-size: 1rem;
      background: #333645;
    }

    .sidebar-sub {
      background: #262934;
      
      border-top: 1px solid rgba(0,0,0,.45);
      a {

        .chevrons {
          font-size: .5rem;
          padding-right: 20px;
        }
      }
    }
    
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
  
  /* Style page content - use this if you want to push the page content to the left when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    transition: 0.5s;
    position: relative;
    height: 100%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }