
* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: Poppins, sans-serif;
    color: $dark;
    font-size: 1rem;
    letter-spacing: .4px;
}

img {
    vertical-align: middle;
}

h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 25px;
}